body {
    background-color: #f0f2f5;
    padding-top: 56px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.poster {
    background-image: url("https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.0-9/70282374_2403712976411416_1507897145712181248_o.jpg?_nc_cat=110&_nc_sid=e3f864&_nc_ohc=rr275vilKx8AX8XZTl9&_nc_ht=scontent.fsgn5-5.fna&oh=ec4e9f14cb85b9a7eb392eecfb51d48a&oe=5FB38FC9");
    background-size: cover;
    background-position: center;
}

.poster .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(39, 99, 155) 25%, rgba(255, 255, 255, 0));
}

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}
/* end of Timeline */