body {
    padding-top: 56px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDisplay {
    display: flex;
}

.flexCenter {
    justify-content: center;
}

.flexEnd {
    justify-content: flex-end;
}


.blackFont {
    color: black;
}


.contact {
    padding-top: 3em;
}

.contact__card {
    display: flex;
}

.footer {
    background-color: var(--liColor);
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}


/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}
end of Timeline */


